.part{
    background-color: rgb(14, 6, 32);
}
.partList{
    margin-top: 40px;
    color: whitesmoke;
    
    
}
.part{
    padding: 20px;
}
.partList button{
    margin-left: 5px;
}
.partList a{
    margin-left: 5px;
}