.tour{
    background-color: rgb(14, 6, 32);
    
}
.create a{
    margin-top: 10px;
}
.tour h1{
    color: whitesmoke;
}
.post a{
    margin-right: 20px;
}
.post button{
    margin-right: 20px;
}
.post{
   color: whitesmoke;
}